body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}


#note {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin-left: 15px;
}

#note-text_ifr {
  margin-left: 20px; /* add a 20px left margin to the editor */
}

#user-info {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
}

.card-body {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.card-body:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.side-panel {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 53px;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  padding: 20px;
}

.file-list {
  list-style-type: none;
  padding: 0;
}

.file-list li {
  margin-bottom: 10px;
}

a:visited {
  color: purple;
}

#notes-container {
  width: auto;
}
