<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
  </head>
  <body>
    <header class="header">
      <div class="logo">{{ user.username }}</div>
      <nav class="nav">
        <a href="/trials" target="_blank">Trials</a>
        <a href="/new-trial" target="_blank">New Trial</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      </nav>
    </header>
    <section class="hero">
       <h1>Matsing Global Trials</h1>
    </section>
<!--    <section class="cta">-->
<!--      <h2>Ready to get started?</h2>-->
<!--      <button>Sign Up Now</button>-->
<!--    </section>-->
  </body>
</html>
